.navbar-module {
  background-color: #0c0c0c;
}

.navbar-module a {
  color: #ffffff;
}

.navbar-module a:hover {
  color: #333333;
}

body {
  font-family: "arial";
}

.fa-btn {
  margin-right: 7px;
}

.navbar-default {
  background: #FFC600;
}

.navbar-default a.navbar-brand {
  color: #000000;
}

h3.item-error {
  background: #a43434;
}

h3.ui-accordion-header-collapsed.item-error {
  background: #ffcccc;
}

table.order_table.table-condensed {
  font-size: 12px;
  padding: 0;
}

table.order_table.table-condensed tr th {
  text-align: left;
}

table.order_table.table-condensed .c1 {
  width: 20px;
}

table.order_table.table-condensed .c3 {
  width: 80px;
}

table.order_table.table-condensed .c4 {
  width: 100px;
}

table.order_table.table-condensed .c5 {
  width: 40px;
}

table.order_table.table-condensed .c6 {
  width: 70px;
}

table.order_table.table-condensed .c7,
table.order_table.table-condensed .c8 {
  width: 70px;
}

table.order_table.table-condensed .c8,
table.order_table.table-condensed .c9 {
  text-align: right;
  width: 40px;
}

table.order_table.table-condensed td.c6 {
  text-align: center;
}

table.order_table.table-condensed th.c6 {
  text-align: left;
}

table.order_table.table-condensed tr td,
table.order_table.table-condensed tr th {
  padding: 0 5px 0 0;
}

/* form styles */

.form-group {
  clear: both;
  margin-bottom: 10px;
  margin-top: 5px;
  overflow: hidden;
  min-height: 38px;
}

.form-group label span {
  font-size: 90%;
  font-weight: normal;
  font-style: italic;
  color: #445566;
}

.Alert {
  padding: 5px;
  margin-bottom: 5px;
}

.Alert--Info {
  background: #eeeeee;
}

.Alert--Success {
  background: #8ac48a;
}

.Alert--Error {
  background: red;
  color: #ffffff;
}

.sortable ul {
  list-style: none;
}

.sortable li {
  list-style: none;
  border: 1px dashed #999;
}

@media print {
  .container {
    width: 100%;
  }

  .panel-default {
    border: none;
  }

  img.freight-docket {
    display: block;
    page-break-inside: avoid;
    width: 800px;
    margin-top: 90px;
    border-top: 1px solid #888;
    padding-top: 10px;
  }
}


